@import "tailwindcss";

:root {
    --background: #191919;
    --background-darker: #1e1e1e;
    --background-lighter: #1e1e1e;
    --foreground: #ffffff;
    --button: #3c3c3c;
    --accent: #8c95ff12;
}

@theme inline {
    --breakpoint-xs: 31.25rem; /* 500px */

    --color-background: var(--background);
    --color-background-darker: var(--background-darker);
    --color-background-lighter: var(--background-lighter);
    --color-foreground: var(--foreground);
    --color-button: var(--button);
    --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #191919;
        --background-darker: #1e1e1e;
        --background-lighter: #1e1e1e;
        --foreground: #ffffff;
        --button: #3c3c3c;
        --accent: #8c95ff12;
    }
}

html,
body {
    height: 100%;
}

body {
    @apply bg-background text-foreground;
}
